snippet sign "Signature"
Yours sincerely,

Gilles Castel
endsnippet


snippet ff "The LaTeX \frac{}{} command"
\frac{$1}{$2}$0
endsnippet

snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet
