global !p
def math():
    return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal


context "math()"
snippet log "log" wA
\log
endsnippet

context "math()"
snippet sin "sin" wA
\sin
endsnippet

context "math()"
snippet cos "cos" wA
\cos
endsnippet
